*{
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
}
h1 {
                            color: rgb(245, 240, 240);
                            /* background-color: blue; */
}


body {

                            font-family: Arial, Helvetica, sans-serif;
                            background-color: blanchedalmond;
                           margin:0 ;
}

.header {
                            background-color: rgb(47, 45, 45);
                            color: white;
                            text-align: center;
                            padding: 20px;
}

.sidebar {
                            background-color: darkred;
                            color: azure;
                            width: 220px;
                            height: 600px;
                            padding: 15px;
}

.contaner {
 display: flex;

}
.sidebar ul{
                            list-style: none;

}
.sidebar li {
                            padding: 30px 0;
}

.main h1{
                            color: red;
}
.card-contain{
                            display: flex;

}
.card{
                            margin-left: 80px;
                            border: 20px solid rgb(106, 68, 68);
                            margin: 80px;
}
. welcome{
    text-align: center;
    padding: 30px;
}
.card{
    background-color: white;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;


}
.card:hover{
    background: lightblue;
    transform: scale(1.05);

}
button{
    background: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: darkblue;

}
footer{
    background: rgb(13, 18, 168);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}